body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, "Noto Sans JP", sans-serif;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  font-size: 42px;
}

img {
  width: 100%;
  margin-top: 30px;
}